Repository techminds-unipd/mvp, pull requests merged in 2025-03, with the labels that each got.

#26 Setup fe + footer
  .github/workflows/pr.yml
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Footer/Footer.test.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/index.css
  frontend/src/pages/AboutUs/AboutUs.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/vite.config.ts
Labels: frontend

#30 Backend get workflow
  backend/src/BusinessErrors.ts
  backend/src/JWT.ts
  backend/src/accountConnection/AccountConnectionModule.ts
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/workflow/WorkflowModule.ts
  backend/src/workflow/adapter/input/GetWorkflowController.ts
  backend/src/workflow/adapter/input/WorkflowDTO.ts
  backend/src/workflow/adapter/output/WorkflowEntity.ts
  backend/src/workflow/domain/GetWorkflowCommand.ts
  backend/src/workflow/domain/Workflow.ts
  backend/src/workflow/service/GetWorkflowService.ts
  backend/src/workflow/service/port/input/GetWorkflowUseCase.ts
  backend/test/user/adapter/output/UserRepository.spec.ts
  backend/test/workflow/adapter/input/GetWorkflowController.spec.ts
  backend/test/workflow/adapter/output/WorkflowPortAdapter.spec.ts
  backend/test/workflow/adapter/output/WorkflowRepository.spec.ts
  backend/test/workflow/service/GetWorkflowService.spec.ts
Labels: backend

#31 Backend create workflow
  backend/src/BusinessErrors.ts
  backend/src/workflow/WorkflowModule.ts
  backend/src/workflow/adapter/input/CreateWorkflowController.ts
  backend/src/workflow/adapter/output/WorkflowPortAdapter.ts
  backend/src/workflow/adapter/output/WorkflowRepository.ts
  backend/src/workflow/domain/CreateWorkflowCommand.ts
  backend/src/workflow/service/CreateWorkflowService.ts
  backend/src/workflow/service/port/input/CreateWorkflowUseCase.ts
  backend/src/workflow/service/port/output/CreateWorkflowPort.ts
  backend/test/workflow/adapter/input/CreateWorkflowController.spec.ts
  backend/test/workflow/adapter/output/WorkflowPortAdapter.spec.ts
  backend/test/workflow/adapter/output/WorkflowRepository.spec.ts
  backend/test/workflow/service/CreateWorkflowService.spec.ts
Labels: backend

#32 replace Login with LoginUser
  backend/src/user/UserModule.ts
  backend/src/user/adapter/input/LoginUserController.ts
  backend/src/user/service/LoginUserService.ts
  backend/src/user/service/port/input/LoginUseCase.ts
  backend/src/user/service/port/input/LoginUserUseCase.ts
  backend/test/user/adapter/input/LoginUserController.spec.ts
  backend/test/user/service/LoginUserService.spec.ts
Labels: backend

#29 Pagina Home
  frontend/src/pages/Home/Home.css
  frontend/src/pages/Home/Home.test.tsx
  frontend/src/pages/Home/Home.tsx
Labels: frontend

#33 Backend delete workflow
  backend/src/BusinessErrors.ts
  backend/src/workflow/WorkflowModule.ts
  backend/src/workflow/adapter/input/DeleteWorkflowController.ts
  backend/src/workflow/adapter/output/WorkflowPortAdapter.ts
  backend/src/workflow/adapter/output/WorkflowRepository.ts
  backend/src/workflow/domain/DeleteWorkflowCommand.ts
  backend/src/workflow/service/DeleteWorkflowService.ts
  backend/src/workflow/service/port/input/DeleteWorkflowUseCase.ts
  backend/src/workflow/service/port/output/DeleteWorkflowPort.ts
  backend/test/workflow/adapter/input/DeleteWorkflowController.spec.ts
  backend/test/workflow/adapter/output/WorkflowPortAdapter.spec.ts
  backend/test/workflow/adapter/output/WorkflowRepository.spec.ts
  backend/test/workflow/service/DeleteWorkflowService.spec.ts
Labels: backend

#36 About us
  .github/workflows/pr.yml
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/Logo-TechMinds.png
  frontend/public/favicon.png
  frontend/public/vite.svg
  frontend/src/assets/react.svg
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/PersonCard/PersonCard.test.tsx
  frontend/src/components/PersonCard/PersonCard.tsx
  frontend/src/pages/AboutUs/AboutUs.css
  frontend/src/pages/AboutUs/AboutUs.test.tsx
  frontend/src/pages/AboutUs/AboutUs.tsx
  frontend/vite.config.ts
Labels: frontend

#39 Backend save workflow
  backend/.prettierrc
  backend/src/user/adapter/input/RegisterUserController.ts
  backend/src/workflow/WorkflowModule.ts
  backend/src/workflow/adapter/input/CreateWorkflowController.ts
  backend/src/workflow/adapter/input/DeleteWorkflowController.ts
  backend/src/workflow/adapter/input/GetWorkflowController.ts
  backend/src/workflow/adapter/input/SaveWorkflowController.ts
  backend/src/workflow/adapter/input/WorkflowDTO.ts
  backend/src/workflow/adapter/input/WorkflowDTOValidator.ts
  backend/src/workflow/adapter/input/WorkflowNameListController.ts
  backend/src/workflow/adapter/output/WorkflowPortAdapter.ts
  backend/src/workflow/adapter/output/WorkflowRepository.ts
  backend/src/workflow/domain/SaveWorkflowCommand.ts
  backend/src/workflow/service/SaveWorkflowService.ts
  backend/src/workflow/service/port/input/SaveWorkflowUseCase.ts
  backend/src/workflow/service/port/output/SaveWorkflowPort.ts
  backend/test/workflow/adapter/input/SaveWorkflowController.spec.ts
  backend/test/workflow/adapter/input/WorkflowDTOValidator.spec.ts
  backend/test/workflow/adapter/output/WorkflowPortAdapter.spec.ts
  backend/test/workflow/adapter/output/WorkflowRepository.spec.ts
  backend/test/workflow/service/SaveWorkflowService.spec.ts
Labels: backend

#41 Backend google auth
  backend/env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/accountConnection/AccountConnectionModule.ts
  backend/src/accountConnection/adapter/input/ConnectionGoogleAccountController.ts
  backend/src/accountConnection/adapter/input/ConnectionGoogleRequestController.ts
  backend/src/accountConnection/adapter/input/ConnectionGoogleResponseController.ts
  backend/src/accountConnection/adapter/input/TokenDTO.ts
  backend/src/accountConnection/adapter/output/GoogleAuthRepository.ts
  backend/src/accountConnection/adapter/output/GoogleTokenEntity.ts
  backend/src/accountConnection/adapter/output/GoogleTokenPortAdapter.ts
  backend/src/accountConnection/domain/Token.ts
  backend/src/accountConnection/service/ConnectionGoogleAccountService.ts
  backend/src/accountConnection/service/ConnectionGoogleRequestService.ts
  backend/src/accountConnection/service/ConnectionGoogleResponseService.ts
  backend/src/accountConnection/service/port/input/ConnectionGoogleAccountUseCase.ts
  backend/src/accountConnection/service/port/input/ConnectionGoogleRequestUseCase.ts
  backend/src/accountConnection/service/port/input/ConnectionGoogleResponseUseCase.ts
  backend/src/accountConnection/service/port/output/ConnectionGoogleAccountPort.ts
  backend/src/accountConnection/service/port/output/ConnectionGoogleRequestPort.ts
  backend/src/accountConnection/service/port/output/ConnectionGoogleResponsePort.ts
  backend/src/workflow/adapter/output/WorkflowRepository.ts
  backend/test/accountConnection/adapter/input/ConnectionGoogleAccountController.spec.ts
  backend/test/accountConnection/adapter/input/ConnectionGoogleRequestController.spec.ts
  backend/test/accountConnection/adapter/input/ConnectionGoogleResponseController.spec.ts
  backend/test/accountConnection/adapter/output/GoogleAuthRepository.spec.ts
  backend/test/accountConnection/adapter/output/GoogleTokenPortAdapter.spec.ts
  backend/test/accountConnection/service/ConnectionGoogleAccountService.spec.ts
  backend/test/accountConnection/service/ConnectionGoogleRequestService.spec.ts
  backend/test/accountConnection/service/ConnectionGoogleResponseService.spec.ts
Labels: backend

#44 Fix footer
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/index.css
  frontend/src/pages/AboutUs/AboutUs.css
Labels: bug, frontend

#48 api response swagger
  agente/.gitignore
  backend/src/accountConnection/adapter/input/ConnectionGoogleResponseController.ts
  backend/src/user/adapter/input/LoginUserController.ts
  backend/src/user/adapter/input/RegisterUserController.ts
  backend/src/workflow/adapter/input/CreateWorkflowController.ts
  backend/src/workflow/adapter/input/DeleteWorkflowController.ts
  backend/src/workflow/adapter/input/GetWorkflowController.ts
  backend/src/workflow/adapter/input/SaveWorkflowController.ts
  backend/src/workflow/adapter/input/WorkflowNameListController.ts
  backend/test/user/adapter/input/LoginUserController.spec.ts
  backend/test/workflow/adapter/input/DeleteWorkflowController.spec.ts
Labels: backend

#43 Backend esecuzione workflow
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/accountConnection/adapter/input/ConnectionGoogleRequestController.ts
  backend/src/accountConnection/adapter/input/TokenDTO.ts
  backend/src/accountConnection/adapter/output/GoogleTokenPortAdapter.ts
  backend/src/user/adapter/input/JWT.ts
  backend/src/user/adapter/input/LoginUserController.ts
  backend/src/workflow/WorkflowModule.ts
  backend/src/workflow/adapter/input/ExecuteWorkflowController.ts
  backend/src/workflow/adapter/input/ExecuteWorkflowDTO.ts
  backend/src/workflow/adapter/input/SaveWorkflowController.ts
  backend/src/workflow/adapter/output/AgentRepository.ts
  backend/src/workflow/adapter/output/ExecuteData.ts
  backend/src/workflow/adapter/output/WorkflowAgentAdapter.ts
  backend/src/workflow/domain/ExecuteWorkflowCommand.ts
  backend/src/workflow/service/ExecuteWorkflowService.ts
  backend/src/workflow/service/port/input/ExecuteWorkflowUseCase.ts
  backend/src/workflow/service/port/output/ExecuteWorkflowPort.ts
  backend/test/workflow/adapter/input/CreateWorkflowController.spec.ts
  backend/test/workflow/adapter/input/ExecuteWorkflowController.spec.ts
  backend/test/workflow/adapter/output/AgentRepository.spec.ts
  backend/test/workflow/adapter/output/WorkflowAgentAdapter.spec.ts
  backend/test/workflow/service/ExecuteWorkflowService.spec.ts
Labels: backend

#56 Refactoring services
  frontend/src/components/Nodes/CustomNode/CustomNode.tsx
  frontend/src/context/AuthContext.test.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useAllWorkflows.test.tsx
  frontend/src/hooks/useAllWorkflows.tsx
  frontend/src/hooks/useCreateWorkflow.test.tsx
  frontend/src/hooks/useCreateWorkflow.tsx
  frontend/src/hooks/useDeleteWorkflow.test.tsx
  frontend/src/hooks/useDeleteWorkflow.tsx
  frontend/src/services/allWorkflowsAPI.ts
  frontend/src/services/allWorkflowsService.test.ts
  frontend/src/services/allWorkflowsService.ts
  frontend/src/services/deleteWorkflowAPI.ts
  frontend/src/services/deleteWorkflowService.test.ts
  frontend/src/services/deleteWorkflowService.ts
  frontend/src/services/loginAPI.ts
  frontend/src/services/loginService.test.ts
  frontend/src/services/loginService.ts
  frontend/src/services/newWorkflowAPI.ts
  frontend/src/services/newWorkflowService.test.ts
  frontend/src/services/newWorkflowService.ts
Labels: frontend

#58 Refactoring workflow adapter implementation
  backend/package.json
  backend/src/accountConnection/adapter/input/ConnectionGoogleRequestController.ts
  backend/src/accountConnection/adapter/input/ConnectionGoogleResponseController.ts
  backend/src/accountConnection/service/ConnectionGoogleResponseService.ts
  backend/src/user/adapter/input/LoginUserController.ts
  backend/src/workflow/WorkflowModule.ts
  backend/src/workflow/adapter/input/DeleteWorkflowController.ts
  backend/src/workflow/adapter/input/ExecuteWorkflowController.ts
  backend/src/workflow/adapter/input/GetWorkflowController.ts
  backend/src/workflow/adapter/input/SaveWorkflowController.ts
  backend/src/workflow/adapter/input/WorkflowAdapterImplementation.ts
  backend/test/accountConnection/domain/Token.spec.ts
  backend/test/user/service/RegisterUserService.spec.ts
  backend/test/workflow/adapter/input/DeleteWorkflowController.spec.ts
  backend/test/workflow/adapter/input/ExecuteWorkflowController.spec.ts
  backend/test/workflow/adapter/input/GetWorkflowController.spec.ts
  backend/test/workflow/adapter/input/SaveWorkflowController.spec.ts
  backend/test/workflow/adapter/input/WorkflowAdapterImplementation.spec.ts
  backend/test/workflow/domain/Workflow.spec.ts
Labels: backend

#55 Backend coverage
  .github/workflows/pr.yml
  agente/.coveragerc
  agente/.gitignore
  agente/requirements.txt
  agente/test/controller/test_workflowController.py
  backend/package.json
  backend/src/accountConnection/AccountConnection.module.ts
  backend/src/app.module.ts
  backend/src/user/User.module.ts
  backend/src/workflow/Workflow.module.ts
Labels: backend

#60 Fe page services
  backend/src/accountConnection/adapter/input/ConnectionGoogleRequestController.ts
  backend/src/accountConnection/adapter/input/ConnectionGoogleResponseController.ts
  backend/src/accountConnection/adapter/input/RedirectUrlDTO.ts
  backend/test/accountConnection/adapter/input/ConnectionGoogleResponseController.spec.ts
  frontend/src/App.tsx
  frontend/src/components/LogoutMenuItem/LogoutMenuItem.test.tsx
  frontend/src/components/LogoutMenuItem/LogoutMenuItem.tsx
  frontend/src/components/Navbar/Navbar.test.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/WorkflowList/WorkflowList.test.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/GoogleTokenContext.test.tsx
  frontend/src/context/GoogleTokenContext.tsx
  frontend/src/context/MockedAuthProvider.tsx
  frontend/src/context/MockedGoogleTokenProvider.tsx
  frontend/src/hooks/useAllWorkflows.test.tsx
  frontend/src/hooks/useAllWorkflows.ts
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCreateWorkflow.test.tsx
  frontend/src/hooks/useCreateWorkflow.ts
  frontend/src/hooks/useDeleteWorkflow.test.tsx
  frontend/src/hooks/useDeleteWorkflow.ts
  frontend/src/hooks/useGoogleToken.test.tsx
  frontend/src/hooks/useGoogleToken.ts
  frontend/src/pages/Services/AddAccount.tsx
  frontend/src/pages/Services/Services.tsx
Labels: frontend

#57 Test navbar
  frontend/src/components/AddWorkflow/AddWorkflow.tsx
  frontend/src/components/Navbar/Navbar.test.tsx
  frontend/src/components/WorkflowList/WorkflowList.tsx
Labels: frontend

#70 Aggiunta foto in home
  frontend/src/assets/Workflow-Example.png
  frontend/src/pages/Home/Home.css
  frontend/src/pages/Home/Home.tsx
Labels: frontend

#69 Frontend workflow
  frontend/src/App.tsx
  frontend/src/components/CustomLink/CustomLink.tsx
  frontend/src/components/Nodes/CalendarNode/CalendarNode.tsx
  frontend/src/components/Nodes/CustomNode/CustomNode.css
  frontend/src/components/Nodes/CustomNode/CustomNode.tsx
  frontend/src/components/Workflow/DeletableNode/DeletableNode.tsx
  frontend/src/components/Workflow/DeletableNode/DeletableOutputNode.tsx
  frontend/src/components/Workflow/DndContext/DnDContext.tsx
  frontend/src/components/Workflow/EditableEdge/EditableEdge.tsx
  frontend/src/components/Workflow/WorkflowCanvas/WorkflowCanvas.tsx
  frontend/src/components/Workflow/WorkflowHeader/WorkflowHeader.tsx
  frontend/src/components/Workflow/WorkflowSidebar/WorkflowSidebar.tsx
  frontend/src/components/WorkflowItem/WorkflowItem.tsx
  frontend/src/context/GoogleTokenContext.test.tsx
  frontend/src/context/GoogleTokenContext.tsx
  frontend/src/hooks/useExecuteWorkflow.test.tsx
  frontend/src/hooks/useExecuteWorkflow.tsx
  frontend/src/hooks/useGetWorkflow.test.tsx
  frontend/src/hooks/useGetWorkflow.tsx
  frontend/src/hooks/useSaveWorkflow.test.tsx
  frontend/src/hooks/useSaveWorkflow.tsx
  frontend/src/pages/Services/AddAccount.tsx
  frontend/src/pages/Workflow/Workflow.tsx
  frontend/src/services/ExecuteWorkflowService.test.ts
  frontend/src/services/ExecuteWorkflowService.ts
  frontend/src/services/GetWorkflowService.test.ts
  frontend/src/services/GetWorkflowService.ts
  frontend/src/services/SaveWorkflowService.test.ts
  frontend/src/services/SaveWorkflowService.ts
  frontend/src/services/dto/WorkflowDTO.ts
  frontend/vite.config.ts
Labels: frontend

#96 Tracciamento unit test
  frontend/src/context/AuthContext.test.tsx
  frontend/src/context/GoogleTokenContext.test.tsx
  frontend/src/hooks/useAllWorkflows.test.tsx
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useCreateWorkflow.test.tsx
  frontend/src/hooks/useDeleteWorkflow.test.tsx
  frontend/src/hooks/useExecuteWorkflow.test.tsx
  frontend/src/hooks/useGetWorkflow.test.tsx
  frontend/src/hooks/useGoogleToken.test.tsx
  frontend/src/hooks/useRegister.test.tsx
  frontend/src/hooks/useSaveWorkflow.test.tsx
  frontend/src/services/AllWorkflowsService.test.ts
  frontend/src/services/CreateWorkflowService.test.ts
  frontend/src/services/DeleteWorkflowService.test.ts
  frontend/src/services/ExecuteWorkflowService.test.ts
  frontend/src/services/GetWorkflowService.test.ts
  frontend/src/services/LoginService.test.ts
  frontend/src/services/RegisterService.test.ts
  frontend/src/services/SaveWorkflowService.test.ts
Labels: frontend

#98 Tentativo fix bug login
  frontend/src/components/SignInForm/SignInForm.tsx
  frontend/src/components/Workflow/WorkflowCanvas/WorkflowCanvas.tsx
  frontend/src/components/Workflow/WorkflowSidebar/WorkflowSidebar.tsx
  frontend/src/context/DnDContext.tsx
  frontend/src/pages/Workflow/Workflow.tsx
Labels: bug, frontend

#105 Fe test integrazione
  frontend/src/integration-test/AllWorkflowService.integration.test.ts
  frontend/src/integration-test/CreateWorkflowService.integration.test.ts
  frontend/src/integration-test/DeleteWorkflowService.integration.test.ts
  frontend/src/integration-test/GetWorkflowService.integration.test.ts
  frontend/src/integration-test/LoginService.integration.test.ts
  frontend/src/integration-test/RegisterService.integration.test.ts
  frontend/src/integration-test/SaveWorkflowService.integration.test.ts
  frontend/vite.config.ts
Labels: frontend

#102 Tracciamento test backend e agente
  agente/test/controller/test_workflowController.py
  agente/test/service/test_workflowService.py
  backend/test/accountConnection/adapter/input/ConnectionGoogleRequestController.spec.ts
  backend/test/accountConnection/adapter/input/ConnectionGoogleResponseController.spec.ts
  backend/test/accountConnection/adapter/output/GoogleAuthRepository.spec.ts
  backend/test/accountConnection/adapter/output/GoogleTokenPortAdapter.spec.ts
  backend/test/accountConnection/service/ConnectionGoogleRequestService.spec.ts
  backend/test/accountConnection/service/ConnectionGoogleResponseService.spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/user/adapter/input/LoginUserController.spec.ts
  backend/test/user/adapter/input/RegisterUserController.spec.ts
  backend/test/user/adapter/output/UserPortAdapter.spec.ts
  backend/test/user/adapter/output/UserRepository.spec.ts
  backend/test/user/domain/User.spec.ts
  backend/test/user/service/LoginUserService.spec.ts
  backend/test/user/service/RegisterUserService.spec.ts
  backend/test/workflow/adapter/input/CreateWorkflowController.spec.ts
  backend/test/workflow/adapter/input/DeleteWorkflowController.spec.ts
  backend/test/workflow/adapter/input/ExecuteWorkflowController.spec.ts
  backend/test/workflow/adapter/input/GetWorkflowController.spec.ts
  backend/test/workflow/adapter/input/SaveWorkflowController.spec.ts
  backend/test/workflow/adapter/input/WorkflowAdapterImplementation.spec.ts
  backend/test/workflow/adapter/input/WorkflowDTOValidator.spec.ts
  backend/test/workflow/adapter/input/WorkflowNameListController.spec.ts
  backend/test/workflow/adapter/output/AgentRepository.spec.ts
  backend/test/workflow/adapter/output/WorkflowAgentAdapter.spec.ts
  backend/test/workflow/adapter/output/WorkflowPortAdapter.spec.ts
  backend/test/workflow/adapter/output/WorkflowRepository.spec.ts
  backend/test/workflow/service/CreateWorkflowService.spec.ts
  backend/test/workflow/service/DeleteWorkflowService.spec.ts
  backend/test/workflow/service/ExecuteWorkflowService.spec.ts
  backend/test/workflow/service/GetWorkflowService.spec.ts
  backend/test/workflow/service/SaveWorkflowService.spec.ts
  backend/test/workflow/service/WorkflowNameListService.spec.ts
  frontend/src/services/AllWorkflowsService.test.ts
Labels: backend, worker

#107 Piccoli fix frontend
  frontend/src/hooks/useGetWorkflow.tsx
  frontend/src/hooks/useSaveWorkflow.tsx
  frontend/src/integration-test/RegisterService.integration.test.ts
  frontend/src/integration-test/SaveWorkflowService.integration.test.ts
  frontend/src/pages/Workflow/Workflow.tsx
Labels: frontend
